.Counter{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.display{
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 5px;
    color: white;
    padding: 80px;
}
.fill:hover{
    background-color: rgba(33, 141, 168, 0.842);
}
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
.fill {
    width: 200px;
    height: 100px;
    background: none;
    border: 4px solid rgb(39, 137, 218);
    padding: 10px;
    font-size: 20px;
    color:white;
  }